<h1>Buyers</h1>

<div class="input-group col-md-5 pl-0 my-lg-4 my-2">
	<span class="input-group-addon">Filter by name</span>
	<input [(ngModel)]="searchValue" class="form-control">
</div>



<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let buyer of buyers">
			<td class="align-middle">
				<a [routerLink]="['/buyers', buyer.id]">{{ buyer.first_name }} {{ buyer.last_name }}</a>
			</td>
			<td class="align-middle">{{ buyer.email | uppercase }}</td>
			<td><button class="btn btn-danger btn-sm" (click)="remove(buyer)">Remove</button></td>
		</tr>
	</tbody>
</table>

<div class="input-group col-md-5 pl-0 my-lg-4 my-2">
	<button type="button" class="btn btn-primary" (click)="addBuyer()">Add buyer</button>
</div>

<router-outlet></router-outlet>
